<p id="notice"><%= notice %></p>

<h1>Please choose your account</h1>

<p> Click name of your choice</p>
<table class=" table text-center">
  <thead>
    <tr>
      <th> ID </th>
      <th > Name </th>
      <th > relation </th>
    </tr>
  </thead>

  <tbody>
    <% @accounts.each do |account| %>
      <tr>
        <td><%= account.user_id %></td>
        <td><%= link_to account.name, account %></td>
        <td><%= account.user_id == current_user.id ? "owner" : "invited" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

